.container {
  width: 80%;
  margin: 4rem auto;
  padding: 2rem;
  background: linear-gradient(to right, #4d4dde, #23233f);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: rgb(34, 69, 241);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255); 
}

.container p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: rgb(221, 221, 221);
  line-height: 1.6;
}
